<ion-header>
    <ion-navbar>
      <ion-title>{{title}} | {{register.currentDate | date : 'dd/MM/yyyy'}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

      <div>
        <label class="textoLabel">Lunch: </label> <label>{{register.lunch}} minutes</label><br><br>
        <label class="textoLabel">Hours Worked: </label> <label>{{register.hoursWorked.substr(0, 4)}} hours</label>
      </div>
      <br><br>
      <div *ngFor="let time of timeSheets" class="timesheet-items">
        <label color="dark">{{time.hour | date : 'yyyy/MM/dd h:mm a'}}</label>
      </div>
      <br><br>



    <!-- <div id="resultado">
      <label class="textoLabel">Sistema solar fotovoltaico: </label> <label>{{sistemaSolarComercial}}kw</label><br><br>
      <label class="textoLabel">Número de paineis: </label> <label>{{numeroPaineis}}</label><br><br>
      <label class="textoLabel">Area necessária: </label> <label>{{areaNecessaria}}</label><br><br>
      <label class="textoLabel">Investimento aproximado: </label> <label>{{investimentoAproximado | moeda }}</label> <br><br>
      <label class="textoLabel">Retorno do investimento: </label> <label>{{tempoInvestimento}}</label>
    </div> -->


  <button ion-button clear full (click)="onDelete()" class="botaoPrincipal" icon-left>
    <ion-icon class="icon-bigger" name="trash"></ion-icon>
    Delete
  </button>

  <button ion-button block (click)="voltar()" class="botaoPrincipal" icon-left>
    <ion-icon class="icon-bigger" name="md-home"></ion-icon>
    Back
  </button>
</ion-content>