time-sheet-details {

    $font_color: black;

    label {
        color: $font_color;
        font-size: 1.4em;
    }

    .textoLabel {
        font-weight: bold;
        color: $font_color;
    }
}
