$main-color-buttons: #222;
$background-color: lightcyan;
$font-size: 1.1em;

ion-item {
    border-radius: 1px;
    height: 50px;
}

ion-item ion-datetime {
    font-size: 23px;
}

ion-content {
    background-color: $background-color !important;
    //background-repeat: no-repeat;
    //background-image: url('../assets/imgs/bkg_1.jpg');
    //background-position: center;
    //background-size: contain;
}

p {
    color: #222;
}

.filterData {
    width: 100%;
}

.filterData td {
    padding: 1px;
}

.filterData ion-item ion-datetime {
    font-size: 15px;
}

.filterData ion-item {
    width: 49.5%;
    margin-bottom: 2px;
}

.auth-icon {
    font-size: 7em;
}

.icon-bigger {
    font-size:1.8em;
}

.botao {
    border: 2px $main-color-buttons solid;
    border-radius: 1px;
    color: $main-color-buttons;
    padding: 18px 5px 18px 5px;
    font-size: $font-size;
    //background: linear-gradient(bottom, blue, white);
    //linear-gradient(135deg, orange, orange 60%, cyan);
}

.botaoPrincipal {
    border: 1px $main-color-buttons solid;
    border-radius: 1px;
    padding: 18px 5px 18px 5px;
    font-size: $font-size;
    background-color: $main-color-buttons; 
    color: $background-color;
    font-weight: bold;
}

h1 {
    color: $main-color-buttons;
}

.itens {
    background: rgba(0, 0, 0, 0); //deixa transparente
}

.itemSelect {
    margin-left: -10px;
    background: rgba(0, 0, 0, 0); //deixa transparente
}

ion-item-sliding {
    border-radius: 1px;
}

.timeSheets {
    background-color: $main-color-buttons;
    font-size: 21px;
    color: $background-color;
}

.register-item {
    border:1px solid $main-color-buttons;
    border-radius:1px;
    padding-left: 5px;
    margin-bottom: 1px;
    font-size: $font-size;
}
